:root{
    font-size: 16px;
    --responsive-size: 40vw;
}

iframe {
    background-color: aqua;
}

body{
    font-family: Consolas;
    width: 45%;
    margin: 0 auto;
}

div{
    margin-bottom: 2rem;
}

.centerDiv{
    margin: 0 auto;
    margin-bottom: 2rem;
}

.osszefogo{
    border-radius: 10%;
}

.oraKeret{
    background-image: url("kepek/clock.png");
    background-size: var(--responsive-size);
    background-repeat: no-repeat;
    height: var(--responsive-size);
    position: relative;
    width: var(--responsive-size);
    border-radius: 100%;
}

.oraMutato{
    width: 7.5%;
    height: 25%;
    position: relative;
    left: 46.25%;
    top: 25%;
    -webkit-transform: rotateX(0deg);
    transform: rotate(0deg);
    transform-origin: 50% 100%;
}

.percMutato{
    position: absolute;
    left: 47.5%;
    top: 15%;
    width: 5%;
    height: 35%;
    transform-origin: 50% 100%;
}

.mpMutato{
    position: absolute;
    left: 49.25%;
    top: 15%;
    width: 1.5%;
    height: 35%;
    transform-origin: 50% 100%;
}

.digitIdo{
    text-align: center;
    width: var(--responsive-size);
    height: 6.75vw;
    border: 3px solid black;
    border-radius: 15%;
}

.digitIdo p {
    font-size: 2.25vw;
}

@media only screen and (max-width: 600px), (max-height: 600px){
    .digitIdo{
        display: none;
    }
}